body {
    margin: 0px;
}
.cssPageHeaderTitleText {
    font-family: Titillium Web;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1.06px;
    text-transform: none;
    line-height: 1.1em;
    color: #fff;
    margin: 20px auto;
    word-wrap: break-word;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
}

.cssPageHeaderTitle {
    background-color: #ff3838;
    border-color: #ff3838;
    text-align: center;
    line-height: 35px;
    height: 200px;
}

.cssDonateFiatButton {
    height: 80px;
}

.cssDonateCryptoButton {
    height: 80px;
}

.cssSelectionOptions{
    height: 80px;
}

.cssDonateFiatButton {
    float: left;
    width: 50%;
    height: 100%;
    line-height: 10px;
    vertical-align: middle;
    text-align: center;
    border: 1px;
}

.cssDonateCryptoButton {
    float: right;
    width: 50%;
    height: 100%;
    line-height: 10px;
    vertical-align: middle;
    text-align: center;
    border: 1px;
}

.cssPledgeLabel {
    font-style: normal;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
    font-family: Titillium Web;
    position: relative;
    top: 20px;
}

@media screen and (max-width: 345px){
    .cssSelectionOptions {
        height: 110px;
    }

    .cssPageHeaderTitle {
        height: 250px;
    }
}

.cssPledgeOptionButton {
    width: calc(50% - 2px);
}

.paymentAmount-label {
    font-family: Titillium Web;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.6em;
    color: rgba(26,26,26,.7);
}

.cssDonateVisibleElements {
    padding: 20px;
    display: block;
}

.cssDonateVisibleElements input {
    display: block;
    margin-top: 5px;
}

.cssDonateVisibleElements label {
    display: block;
}

button {
    display: block;
    width: auto;
    height: auto;
    padding: 1em 2.5em;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    color: #fff;
    background-color: #ff3838;
    border-color: #ff3838;
    font-family: Titillium Web;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 0;
}

.cssFiatDonatePanel {
    margin-left: 20px;
}

.cssCurrencySelectionImage {
    background-image: url("../images/currency_dropdown.png");
    width: 30px;
    height: 30px;
    background-size: 30px;
    float: left;
}

.cssCurrencySelectionBox{
    display: inline-block;
    float: left;
}

.cssCurrencySelector {
    float: left;
}

.cssCurrencySelector label{
    line-height: 30px;
}

.cssContributionBox {
    display: inline-block;
}

.cssHidden {
    display: none;
}

.cssCurrencySelectionListWrapper {
    height: 90px;
    overflow-y: auto;
    width: 60px;
    margin-bottom: 20px;
}

.cssCurrencyElement {
    height: 30px;
    line-height: 30px;
}

.cssCryptoDonatePanel button {
    margin-top: 20px;
}